---
extends: application.j2
default_block: help
title: woob bugtracker
description: bugtracker is a console application able to view, edit, and create issues on supported bugtrackers.
short_description: View, edit and create issues on bugtrackers.
capability: BugTracker
type: repl
category: console
---

### Search issues

Use this command:

<pre>bugtracker&gt; search PROJECT</pre>

For example:

<pre>bugtracker&gt; search woob
* (678@redmine) woob - [New] Create a trocdestrains.com backend
  None
* (677@redmine) woob - [New] 60s pour un refresh du listing des comptes sur bp
  Application / bank
* (676@redmine) woob - [New] erreur solde total si compte commun
  Application / bank
* (674@redmine) woob - [Assigned] pastalacon is broken
  Backends / New backend
* (670@redmine) woob - [New] Add capabilities for statements and bills
  None
* (662@redmine) woob - [Assigned] [LeFigaro] Buldbot fail
  Backend / LeFigaro
* (661@redmine) woob - [Assigned] --save-responses
  Core / Browser
* (660@redmine) woob - [Assigned] pastoob needs documentation
  Application / pastoob
* (659@redmine) woob - [Assigned] Support CMB bank
  Backends / New backend
* (657@redmine) woob - [New] AttributeError: 'NoneType' object has no attribute 'iter_all_messages
  Backend / DLFP
</pre>

### View an issue

Usage:

<pre>bugtracker&gt; get ISSUE</pre>

Example:

<pre>bugtracker&gt; get 670
woob - #670@redmine - Add capabilities for statements and bills

A lot of sites now offer bank statements or periodic bills as PDF downloads.

It would be nice to have capabilities for these :
- list bills/statements
- download specific bill/statement

Example websites : BNP Paribas, EDF

Author: Anonymous (2011-05-31 10:51:00)
Status: New

History:
* 2011-05-31 11:32:00 - <User 'Laurent Bachelier'>
I subscribed to the PDF option at BNP Paribas, so I will be able to develop
and test that as soon as I receive my first one.
</pre>

### Create an issue

Usage:

<pre>bugtracker&gt; post PROJECT</pre>

Example:

<pre>bugtracker&gt; post woob@redmine
Title: Hello world
----------
Availables: Christophe Benz, Clément Schreiner, Romain Bignon
Assignee: Romain Bignon
----------
Availables: woob - 0.1, woob - 0.2, woob - 0.3, woob - 0.4, woob - 0.5,
+woob - 0.6, woob - 0.7, woob - 0.8, woob - 0.9, woob - 1.0, woob - 2.0
Version: woob - 1.0
----------
Availables: Misc, Misc / Desktop integration, Misc / Documentation, Misc / i18n, Misc
+/ Packaging, Misc / Tests, Misc / Wiki
Category: Misc
----------
Availables: New, Feedback, Assigned, In progress, To merge, Resolved, Rejected
Status: In progress
----------
Please enter the content of this new issue.
Reading content from stdin... Type ctrl-D from an empty line to stop.
Hello world my issue
</pre>

### Write a comment on an issue

Usage:

<pre>bugtracker&gt; comment ISSUE [MESSAGE]</pre>

Example:

<pre>bugtracker comment 803@symlink.me "Yeah that's really interesting."</pre>

### Edit an issue

Usage:

<pre>bugtracker&gt; edit ISSUE [KEY [VALUE]]</pre>

Example:

<pre>
bugtracker&gt; edit 803@redmine status Resolved
</pre>
