---
extends: application.j2
default_block: help
title: woob calendar
description: Console application allowing to list events, get more information on it, and export a list of events in CalDav format.
short_description: List events, fill your calendar.
capability: CalendarEvent
type: repl
category: console
---

### List event

To list all events for today:

<pre>calendar list today
1-13-2014_-Event_1@pariskiwi —  Concert - CALVAIIRE -  DIREWOLVES -  COWARDS @  LA CANTINE -
	Date: Monday 13 January 2014
	Hour: 20:30 - 23:59
26190@sueurdemetal —  Concert - CALVAIRE + COWARDS + DIREWOLVES
	Date: Monday 13 January 2014
	Hour: 19:00 - 23:59
</pre>

### More information

Additionnal informations for an event can be retrieved with the info command:

<pre>calendar info 1-13-2014_-Event_1@pariskiwi
Concert - CALVAIIRE -  DIREWOLVES -  COWARDS @  LA CANTINE -
Date: Monday 13 January 2014
Hour: 20:30 - 23:59
Location: @  LA CANTINE - 108 boulevard de Belleville 75020 Paris métro Belleville ou Couronnes (ligne 2)
City: Paris
Description:
 CALVAIIRE -  DIREWOLVES -  COWARDS @  LA CANTINE -
En veux-tu? En v’là! et Old Town Bicyclette présentent :

CALVAIIRE (Laval) – Violence
http://music.throatruinerrecords.com/album/forceps
DIREWOLVES (Lorient) – Violence
http://direwolves.bandcamp.com/
COWARDS (Paris) – Violence
http://www.cowards.fr/
---
Lundi 13 janvier
La Cantine
108 boulevard de Belleville
75020 Paris
métro Belleville ou Couronnes (ligne 2)
20h30 – PAF : 5€

Price: 5
url: http://pariskiwi.org/~parislagrise/mediawiki/index.php/Agenda/Detruire_Ennui_Paris/1-13-2014_-Event_1
</pre>

### Export results

You can export results in CalDav to use it in your favorite calendar application:

<pre>calendar export mycalendar.cal 1-13-2014_-Event_1@pariskiwi 26190@sueurdemetal
</pre>
