---
extends: application.j2
default_block: help
title: woob config
description: Tool to manage (install, update, configure, etc.) backends.
short_description: Show, install, update and configure backends.
type: config
category: console
---

This tool can be used to simplify backends management.

For more information about modules, please [read this page](/modules).

### Show available modules

<pre>$ woob config modules</pre>

### Show information about a module

<pre>$ woob config info MODULE</pre>

For example:

<pre>$ woob config info youtube
.------------------------------------------------------------------------------.
| Module youtube                                                               |
+-----------------.------------------------------------------------------------'
| Version         | 201201211619
| Maintainer      | Christophe Benz &lt;christophe.benz@gmail.com&gt;
| License         | LGPLv3+
| Description     | Youtube videos website
| Capabilities    | CapVideo
| Installed       | yes
| Location        | http://updates.woob.tech/0.b/main/youtube.tar.gz
|                 |
| Configuration   | username: Email address (default: )
|                 | password: Password (default: )
'-----------------' </pre>

### Add a backend

You can create a backend from a module with:

<pre>$ woob config add MODULE [PARAMETERS]</pre>

For example:

<pre>$ woob config add youtube
Module "youtube" is available but not installed.
=== [ 30%] Module is not installed yet
=== [ 20%] Downloading module...
=== [ 50%] Checking module authenticity...
=== [ 70%] Setting up module...
=== [ 90%] Downloading icon...
=== [100%] Module youtube has been installed!


Configuration of backend youtube
--------------------------------
[username] Email address: roger.philibert@gmail.com
[password] Password (hidden input):
--------------------------------
Backend "youtube" successfully added.</pre>

>_Note: as the `youtube` module wasn't installed, it has been downloaded._

You can also provide parameters on the command-line to prevent the interactive questions.

### Show backends

<pre>$ woob config list
+---------+---------+------------------------------------------------------+
|   Name  |  Module |        Configuration                                 |
+---------+---------+------------------------------------------------------+
| hsbc    | hsbc    | login=61651, password=*****                          |
| youtube | youtube | username=roger.philibert@gmail.com, password=*****   |
+---------+---------+------------------------------------------------------+
</pre>

### Remove a backend

<pre>$ woob config remove BACKEND</pre>

For example:

<pre>$ woob config remove dlfp_moules</pre>

### Register a new account

Some modules support the `CapAccount` capability and allow you to register a new account on their supported website. You can use woob config to create a new account:

<pre>$ woob config register MODULE</pre>

Then, it asks you some questions about the account to create, and finally prompts you to create a backend for this new account.
