---
extends: application.j2
default_block: help
title: woob dating
description: Console application able to interact with supported dating websites and increase your popularity.
short_description: Interact with dating websites, and get popular.
capability: Dating
type: repl
category: console
---

### See profiles

To display information about a profile, just run this command:

<pre>
dating&gt; profile id[@backend]
</pre>

The id is probably an integer, and you can specify the backend where the contact is.

## Optimizations

Every dating backends provide several optimization services to increase your popularity on website or to automate some anoying process.

To start a service, use this command:

<pre>
dating&gt; start OPTIMIZATION_NAME [OPTIMIZATION2 [...]]
</pre>

For example:

<pre>
dating&gt; start PROFILE_WALKER VISIBILITY
</pre>

And to stop services:

<pre>
dating&gt; stop OPTIMIZATION [OPTIMIZATION2 [...]]
</pre>

You can auto-load optimizations at startup by editing the configuration file `~/.config/woob/dating`:

<pre>
[GLOBAL]
# Optimizations to auto-enable
optimizations = PROFILE_WALKER VISIBILITY
</pre>

### PROFILE_WALKER

This optimization service is used to walk on profiles. It is usefull to show people you exist, when they can see who visite their profile.

Note that in future, it will be associated with the SCORING optimization service.

### VISIBILITY

This optimization is used to increase your visibility on website. It depends on each websites, so there isn't any explicit explanation.

For example, the `AuM` backend will reconnects to website every five minutes to go back on top research results.

### SCORING

>*This optimization service doesn't exist yet.*

It can establish a score for a profile from criterias.

If combinated with PROFILE_WALKER, each time a profile is visited, a score is calculated, and if it's positive, it will contact the person.
