---
extends: application.j2
default_block: help
title: woob geolocip
description: Console application able to geolocalize IP addresses.
short_description: Geolocalize IP addresses.
capability: GeolocIp
type: console
category: console
---
{{ first_launch(resource.meta.title.lower()) }}

### Geolocalise an IP address

Usage:

<pre>$ woob geolocip IPADDR</pre>

For example:

<pre>$ woob geolocip 8.8.8.8
id: 8.8.8.8@geolocip
city: Mountain View
region:
zipcode: 94043
country: UNITED STATES
lt: 37.4192
lg: -122.0574
host: google-public-dns-a.google.com
tld: com</pre>

