---
extends: application.j2
default_block: help
title: woob parcel
description: Console application able to track your parcels around the world.
short_description: Parcel tracking.
capability: Parcel
type: repl
category: console
---

### Track a parcel

To start tracking a parcel, just call this command with the ID of package given by the transporter, and the backend of the transporter:

<pre>parcel&gt; track ID@BACKEND</pre>

For example:

<pre>parcel&gt; track DG123456789FR@chronopost</pre>

### See status of delivery

You can now display status of your tracked parcels by calling this command:

<pre>parcel&gt; status
 MK987654321FR@chronopost — ARRIVED                "Livraison effectuée" le mercredi 06 Février à 09:03
 DG123456789FR@chronopost — IN TRANSIT 2013-07-19  Tri effectué dans l'agence de distribution
   1ZW112233445566778@ups — ARRIVED    2013-06-07  Delivered</pre>

### More information about a parcel

The command <i>info</i> displays all information you want to know about a parcel:

<pre>parcel&gt; info MK987654321FR@chronopost
Parcel MK987654321FR (chronopost)
Arrival:
Status:  ARRIVED
Info:  "Livraison effectuée" le mercredi 06 Février à 09:03

 Date                  Location          Activity
---------------------+-----------------+---------------------------------------------------

 2013-02-06 09:03:00   RUNGIS CHRONOPOST Livraison effectuée, Nom du réceptionnaire:michu
 2013-02-06 07:29:00   RUNGIS CHRONOPOST Envoi en cours de livraison
 2013-02-06 05:19:00   RUNGIS CHRONOPOST Tri effectué dans l'agence de distribution
 2013-02-05 23:30:00   HUB CHILLY MAZARIN CHRONOPOST Envoi en transit, Lieu d'injection:1SB01 Code chargement:RGS Statut du tri:OK Volume:Non certifié Poids:Certifié
 2013-02-05 15:15:00   NANTES CHRONOPOST Tri effectué dans l'agence de départ
 2013-02-05 13:45:00   NANTES CHRONOPOST Envoi faisant partie d'une expédition groupée, Numéro d'envoi suiveur:MK987654321FR Rang:4/4
 2013-02-05 13:44:00   NANTES CHRONOPOST Envoi prêt chez l'expéditeur, Rang:1/4 Numéro partenaire:GEO/MK987654321FR
</pre>
