---
extends: application.j2
default_block: help
title: woob recipes
description: Console application able to search recipes, display details and export it in a readable format.
short_description: Search recipes, find one, and cook.
capability: Recipe
type: repl
category: console
---

### Search recipe

Use this command:

<pre>search&gt; PATTERN</pre>

For example:

<pre>recipes&gt; search gâteau au chocolat
* (1) Gâteau au chocolat (cuisineaz)
    description: Cost: 1/3 ; 20 min 20 min  Facile INGRÉDIENTS : 200 g de chocolat noir 64 % de cacao ; 110 g de beurre ; 220 g de sucre en poudre ; 3 de farine

* (2) Gâteau au chocolat (cuisineaz)
    description: Cost: 1/3 ; 20 min 25 min  Facile INGRÉDIENTS : *Pour le gâteau: ; 80 g de farine Suprême ; 125 g de chocolat pâtissier ; 125 g de beurre ; 125 g de sucre ; 3 oeufs ; 1 sachet de levure

* (3) Gâteau au chocolat (cuisineaz)
    description: Cost: 1/3 ; 20 min 40 min  Facile INGRÉDIENTS : 120 g de chocolat noir ; 75 g de beurre (demi; sel, c'est toujours meilleur) ; 4 oeufs ; 90 g de farine ; 120 g de sucre ; 1 sachet de levure

* (4) Gâteau au chocolat express (cuisineaz)
    description: Cost: 1/3 ; 10 min 35 min  Facile INGRÉDIENTS : 200 g de chocolat noir à dessert ; 100 g de beurre ; 3 oeufs ; 13 cuillères à soupe de sucre ; 2 cuillères à soupe de farine ; 1 de levure chimique

</pre>

### Display all infos of a recipe

Use this command:

<pre>recipes&gt; details ID&gt;</pre>

For example:

<pre>recipes&gt; info 1

Gâteau au chocolat
ID: gateau-au-chocolat-7162@cuisineaz
Author: marine de pau
Preparation time: 20min
Cooking time: 20min
Amount of people: 6

Ingredients
  * 200 g de chocolat noir 64 % de cacao
  * 110 g de beurre
  * 220 g de sucre en poudre
  * 3 c. à soupe de farine
  * 6 jaunes d'oeufs
  * 6 blancs d'oeufs
  * 1 pincée de sel

Instructions
1: Faites fondre le chocolat en morceaux au micro-ondes. Quand celui ci est fondu, ajoutez les morceaux de beurre, et mélangez bien.
2: Ajoutez le sucre en poudre puis la farine en mélangeant bien.
3: Ajoutez les jaunes d'oeufs.
4: Préchauffez le four à 180°C (th.6).
5: Battez les blancs en neige avec une pincée de sel jusqu'à ce qu'ils soient très fermes et ajoutez-les doucement au mélange.
6: Versez le tout dans un moule préalablement beurré et fariné.
7: Faites cuire votre gâteau environ 20 min au four.


Comments
  * author: Lucile, comment: Moi j'ai utilisé du chocolat au lait, donc j'ai diminué la proportion de sucre et de beurre, il est au four! On verra le résultat! :)
  * author: paméla, comment: Très bonne  recette Très bon gâteau léger et moelleux. Merci
  * author: Margaux LV, comment: Humm super bon ! Par contre je l'aime tiède
</pre>


### Export your recipe in a KRecipesML file

Use this command:

<pre>recipes&gt; export ID&gt; FILENAME</pre>

For example:

<pre>recipes&gt; export 1 chocolat.kreml</pre>
