---
extends: application.j2
default_block: help
title: woob torrent
description: Console application able to search for torrents on supported trackers and to download the .torrent files.
short_description: Search for torrents and download the .torrent files.
capability: Torrent
type: repl
category: console
---

### Search a torrent

You can do a research with:

<pre>torrent&gt; search ass to mouth</pre>

Example:

<pre>torrent&gt; search coluche
 1 — Coluche integrale 7 CD (piratebay)
           373.0MB   (Seed:   2 / Leech:   0)
 2 — Coluche 1faux (3 CD)et best off (3CD).French DVDRiP.avi.[L-S79] (piratebay)
            4.1 GB   (Seed:   2 / Leech:   0)
 3 — Coluche.journal.1faux.Volume3.dvd.fr.st.avi (piratebay)
           535.7MB   (Seed:   1 / Leech:   0)
 4 — Coluche.journal.1faux.volume1.dvd.fr.st.avi (piratebay)
           527.1MB   (Seed:   1 / Leech:   0)
 5 — Coluche - Ses plus grands sketches - CD1 (piratebay)
           700.6MB   (Seed:   1 / Leech:   1)
 6 — Coluche - L'integrale [7CD] (kickass)
           444.8MB   (Seed:  47 / Leech:   6)
 7 — La Face Cachée de Coluche (un jour un destin) (kickass)
           700.0MB   (Seed:   8 / Leech:   1)
 8 — Coluche - Ses plus grands sketches - CD1 (kickass)
           700.6MB   (Seed:   4 / Leech:   1)
 9 — Coluche - Ses plus grands sketches - CD2 (kickass)
           700.6MB   (Seed:   3 / Leech:   0)
15 — Coluche 1faux (3 CD)et best off (3CD).French DVDRiP.avi.[L-S79] (kickass)
            4.1 GB   (Seed:   3 / Leech:   2)
</pre>

### Information on a torrent

<pre>torrent&gt; info &lt;# or ID&gt;</pre>

For example, you can use the number shown in the previous search result:

<pre>
Coluche.journal.1faux.Volume3.dvd.fr.st.avi
ID: 4631935@piratebay
Size: 535.7MB
Seeders: 1
Leechers: 0
URL: http://cdn3.adexprts.com/lp/?s=tpb&ad=anon&name=Q29sdWNoZS5qb3VybmFsLjFmYXV4LlZvbHVtZTMuZHZkLmZyLnN0LmF2aQ==
Magnet URL: magnet:?xt=urn:btih:e9412565f1d7eeac7af6b982c491b98da09acb8b&dn=Coluche.journal.1faux.Volume3.dvd.fr.st.avi&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80&tr=udp%3A%2F%2Ftracker.publicbt.com%3A80&tr=udp%3A%2F%2Ftracker.istole.it%3A6969&tr=udp%3A%2F%2Fopen.demonii.com%3A1337

Description
Ancien journal satirique et comique de Canal+ presente par coluche.
</pre>

### Get the .torrent

When you have the ID of a torrent, you can download the `.torrent` file and save it to a file:

<pre>torrent&gt; getfile &lt;# or ID&gt; FILENAME
</pre>

If `FILENAME` is `-`, the file will be written on stdout. It's useful to pipe to another program.

You can use to send it directly to <a href="http://libtorrent.rakshasa.no/">rtorrent</a>:

<pre>torrent&gt; getfile 5 /home/rtorrent/Watch/8/
torrent&gt;</pre>

### Get the magnet

There is no command dedicated to get the magnet, but with selectors you can use something like that:

<pre>$ woob torrent info 4631935@piratebay -s magnet --no-keys -f multiline</pre>
