---
extends: application.j2
default_block: help
title: woob translate
description: Console application to get translation of a text from supported websites.
short_description: Translation functions.
capability: Translate
type: repl
category: console
---

### Get a translation

To translate a text, you may use this command:

<pre>translate&gt; translate FROM TO [TEXT]</pre>

Arguments are:

* **FROM** — the original language
* **TO** — to destination language
* **TEXT** — text to translate. If missing, a text editor will be launched

For example:

<pre>translate&gt; translate fr en J'aime le chocolat
* googletranslate
        I love chocolate
</pre>

You can also load several backends to compare translations from different sources:

<pre>
translate&gt; translate en fr dick
* wordreference
        bite
* googletranslate
        queue
</pre>
