---
extends: application.j2
default_block: help
title: woob video
description: Console application able to search for videos on supported websites and to get direct URLs for videos, download them or play them.
short_description: Search for videos, get their direct URLs, download them or play them.
capability: Video
type: repl
category: console
---

### Looking for a video

Usage:

<pre>video&gt; search PATTERN</pre>

Example:

<pre>video&gt; search coluche flics
Search pattern: coluche flics
* (1) Coluche - Les Flics (youtube)
            0:07:57
* (2) Coluche Intégral CD 1 - 12 / Le flic (youtube)
            0:08:10
* (3) Coluche le flic (youtube)
            0:11:33
* (4) COLUCHE L'INTEGRAL - Le flic.mov (youtube)
            0:08:10
* (5) Coluche - C'est l'histoire d'un mec (youtube)
            0:10:35
* (6) Beaucoup de flics pour rien.wmv (youtube)
            0:06:35
* (7) Pinot simple flic pour Cortex - Zen for Z'anes (youtube)
            0:04:10
* (8) A 2 pas du Perih - Sinik (youtube)
            0:02:58
video&gt;</pre>

### Get information about a video

Usage:

<pre>video&gt; info &lt;# or ID or URL&gt;</pre>

For example, you can use the number shown in the previous search result:

<pre>video&gt; info 1
id: 6Cvj6NRpTXo@youtube
title: Coluche - Les Flics
url: http://www.youtube.com/get_video?video_id=6Cvj6NRpTXo&amp;t=vjVQa1PpcFPjKzpoPFHRI3oAtjzNxmC5NkNYPQ2R6jg%3D&amp;eurl=&amp;el=&amp;ps=&amp;asv=&amp;fmt=18
author: Melaaz
duration: 0:07:57
thumbnail: http://i.ytimg.com/vi/6Cvj6NRpTXo/2.jpg
nsfw: False
</pre>

You can also use it in this way:

<pre>video&gt; info "http://www.youtube.com/watch?v=JXb8V_8l41w"</pre><pre>video&gt; info JXb8V_8l41w@youtube</pre>

### Play a video

You can also play a video by using the command `play` instead of `info`:

<pre>
video&gt; play 1
Invoking "mplayer http://www.youtube.com/get_video?video_id=6Cvj6NRpTXo&amp;t=vjVQa1PpcFPjKzpoPFHRI3oAtjzNxmC5NkNYPQ2R6jg%3D&amp;eurl=&amp;el=&amp;ps=&amp;asv=&amp;fmt=18".
[...]
video&gt;</pre>

### Download a video

If you want to download a video, just use the `download` command:

<pre>
video&gt; download 1
[...]
</pre>

It's possible to provide the destination filename of the video:

<pre>
$ woob video download 9892834@dailymotion video.mp4
--2011-03-21 15:47:36--  http://www.dailymotion.com/cdn/H264-512x384/video/x5w1cy_bassist_music.mp4?auth=1300891656-7e55974c5de78f52843324636480ff96
Resolving www.dailymotion.com... 195.8.215.137, 195.8.215.138, 195.8.215.136
Connecting to www.dailymotion.com|195.8.215.137|:80... connected.
HTTP request sent, awaiting response... 302 Found
Location: http://proxy-61.dailymotion.com/video/438/298/9892834_mp4_h264_aac.mp4?auth=1300726056-32528c09733568744a9010672425da55&amp;cache=0 [following]
--2011-03-21 15:47:36--  http://proxy-61.dailymotion.com/video/438/298/9892834_mp4_h264_aac.mp4?auth=1300726056-32528c09733568744a9010672425da55&amp;cache=0
Resolving proxy-61.dailymotion.com... 195.8.214.61
Connecting to proxy-61.dailymotion.com|195.8.214.61|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 764225 (746K) [video/mp4]
Saving to: “video.mp4”

100%[====================================================================&gt;] 764,225     2.45M/s   in 0.3s

2011-03-21 15:47:36 (2.45 MB/s) - “video.mp4” saved [764225/764225]
</pre>

## Use cases
### Tip for rxvt-unicode users

You can use this config lines to make rxvt-unicode launch urls in woob video instead of your browser:

<pre>urxvt.matcher.pattern.1: (?:http://)?(?:www\\.)?youtube\\.com/watch\\?v=([^&amp;]*)
urxvt.matcher.launcher.1: woob video play $1@youtube
urxvt.matcher.pattern.2: (?:http://)?(?:www\\.)?youporn\\.com/watch/([^/]*)
urxvt.matcher.launcher.2: woob video play $1@youporn
urxvt.matcher.pattern.3: (?:http://)?(?:www\\.)?canalplus.fr/.*vid=([^&amp;]*)
urxvt.matcher.launcher.3: woob video play $1@canalplus
urxvt.matcher.pattern.4: (?:http://)?(?:www\\.)?videos\\.arte\\.tv/.*/([^.]*)\\.html
urxvt.matcher.launcher.4: woob video play $1@arte
urxvt.matcher.pattern.5: (?:http://)?(?:www\\.)?ina.fr/(.*)/video/(.*)\\.html
urxvt.matcher.launcher.5: woob video play $1\/$2@ina
urxvt.matcher.pattern.6: (?:http://)?(?:www\\.)?youjizz\\.com/.*/([^.]*)\\.html
urxvt.matcher.launcher.6: woob video play $1@youjizz
</pre>
