---
extends: base.j2
default_block: main
title: Budget Insight
description: Budget Insight
---

<div class="logo">
    <a href="https://www.budget-insight.com"><img alt="team" src="{{ media_url('images/bi.png') }}" /></a>
</div>

<div class="columns first">
    <div class="box column" id="what">
        <h2>Company</h2>
        <p>Budget Insight is a French company founded in 2012 which develops a web application, <a href="https://www.budgea.com">Budgea</a>, to manage bank accounts.</p>
        <p>It uses <a href="http://weboob.org">weboob</a> to automatically fetch bank data.</p>
    </div>

    <div class="box column" id="contact">
        <h2>Contact</h2>
        <h3>Email</h3>
        <p><a href="mailto:contact@budget-insight.com">contact@budget-insight.com</a></p>

        <h3>Phone</h3>
        <p>+33 6 02 50 09 22</p>

        <h3>Website</h3>
        <p><a href="https://www.budget-insight.com">www.budget-insight.com</a></p>
    </div>
</div>

<div class="columns">
    <div class="box column" id="services">
        <h2>Services</h2>

        <h3>New weboob modules</h3>

        <p>
        Budget Insight is a major contributor of weboob, especially on bank modules. If you want to create modules for unsupported websites, and you don't
        know Python or you want it to be written by a professional, contact us.
        </p>

        <h3>Bank API</h3>

        <p>
        We provide a service to access a ReST API to automatically get bank data of your customers. You just have to branch your application to this
        API and call it with user credentials to get well formated bank accounts and transactions in JSON.
        </p>

        <p>
        We maintain the infrastructure and ensure that modules will always work within 2 days if there is a broken bank website. Customers' data is not
        stored on the server and all security mechanisms are used.
        </p>

        <h3>Integration of weboob</h3>

        <p>
        If you prefer use weboob on your own servers, you can ask us to integrate it on your infrastructure.
        </p>

        <h3>Automatic categorization</h3>

        <p>
        Budget Insight has developed a system to automatically categorize transactions. Just call our API with transaction labels and get the associated category.
        </p>

        <h3>Forecasts</h3>

        <p>
        A killer-feature of Budget Insight is the forecasts of balances. We use a statistical model on a user history to detect recurrent transactions and variable
        expenses, and can compute the evolution of the future balance for one month.
        </p>
    </div>
</div>

