---
extends: base.j2
default_block: main
title: Professional solutions
description: Professional solutions
---

<div class="columns first">
    <div class="box column" id="what">
        <h2>What is Weboob</h2>
        <p>Weboob is an open-source library which interacts with websites to provide powerful, easy to use and standardized APIs.</p>
        <p>Weboob provides a native Python API and can be made to work with other
        languages.</p>
    </div>

    <div class="box column" id="customers">
        <h2>They use Weboob</h2>

        <ul class="boobists">
            <li><a href="http://skrooge.org/">Skrooge</a></li>
            <li><a href="https://www.budgea.com/">Budgea</a></li>
            <li><a href="http://www.winancial.com/">Winancial</a></li>
            <li><a href="https://www.cozycloud.cc/">Cozy Cloud</a> (<a href="http://www.wired.com/wiredenterprise/2013/12/open-bank-manager/">press article</a>)</li>
            <li><a href="http://www.hinance.org/" title="automated personal bookkeeping for hackers">hinance</a></li>
            <li><a href="https://kresus.org/" title="Kresus is a free & libre personal finance management software which runs on your server">Kresus</a></li>
            <li><a href="https://github.com/gawen947/gtranslate">gtranslate</a></li>
            <li><a href="https://github.com/guyou/videoob-search-provider">videoob-search-provider</a></li>
            <li><a href="https://github.com/NicolasPetton/elbank">Elbank</a></li>
            <li><a href="https://tech.geneanet.org/">Geneanet</a></li>
            <li><a href="https://github.com/OCA/edi">Odoo Community Association</a>
            <li><a href="https://git.kindwolf.org/boobank-utils/">boobank-utils</a>
            <li><a href="https://github.com/Phyks/Flatisfy">Flatisfy</a></li>
            <li>End-users</li>
        </ul>
    </div>
</div>

<div class="columns">
    <div class="box column" id="providers">
        <h2>Service providers</h2>
        <p>
            <a href="{{ content_url('bi.html') }}"><img src="{{ media_url('images/bi.png') }}" height=100 /></a>
        </p>
        <p>
            Budget Insight is a French company founded in 2012 which develops a web application to manage bank accounts.
        </p><p>
            It is a major contributor of <a href="http://weboob.org">weboob</a>'s bank modules, and provides services to integrate weboob in your infrastructure or to write new modules.
        </p>
    </div>
</div>

