* {
    vertical-align: baseline;
    /*font-weight: inherit;
    font-family: inherit;
    font-style: inherit;*/
    text-decoration: inherit;
    border: 0;
    max-width: 100%;
}

ul.list {
  list-style: none;
}

ul.list li::before {
  content: "\2022";
  color: #75E599;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display: block;
}

table {
    border-collapse: collapse;
}

:focus {
    outline: 0;
}

::-moz-focus-inner {
    border: 0;
}

/* clearfix */
.clear:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    display: block;
}


* html .clear {
    height: 1%;
}

a {
    color: #75E599;
    text-decoration: none;
}

a:hover {
    color: #75E599;
    text-decoration: underline;
}

body {
    font-family: Poppins;
    font-size: 14px;
    line-height: 21px;
    background: rgb(65,68,76);
    background: linear-gradient(90deg, rgba(65,68,76,1) 0%, rgba(84,86,93,1) 100%);
    color: white;
    padding: 0;
    margin: 0;
}

#container {
    width: 850px;
    margin: 0 auto;
    padding: 0px 12px;
}

footer {
    font-size: 80%;
    text-align: center;
    margin-top: 24px;
}

/* Button styles from the awesome: http://www.webdesignerwall.com/demo/css-buttons.html */

.button {
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: .5em 2em .55em;
}
.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}

.bigrounded {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

.large {
    font-size: 120%;
    padding: .6em 2em .60em;
}

.medium {
    font-size: 90%;
    padding: .4em 1.5em .42em;
}

.small {
    font-size: 80%;
    padding: .2em 1em .275em;
}


/* white */
.white {
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top,  #fff,  #ededed);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
    color: #606060;
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
    background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
    color: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
    background: -moz-linear-gradient(top,  #ededed,  #fff);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

/* green */
.green {
    color: #ffffff;
    background: #75E599;

}
.green:hover {
    color: #ffffff;
    background: #75E599;
}
.green:active {
    color: #ffffff;
    background: #75E599;
}

.banner {
    padding: 0 12px;
    margin-bottom: 3em;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.banner h1 {
    font-family: "Courier New", monospace;
    font-weight: bold;
    font-size: 72px;
    line-height: 48px;
    width: 350px;
    overflow: hidden;
    text-align: center;
    margin: 1em auto;
    font-variant: small-caps;
}

.banner h2 {
    font-family: "Courier New", monospace;
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 26px;
    margin-top: -42px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-variant: small-caps;
}

.banner a, .banner h2 a {
    color: white;
    font-size: 1.1em;
    text-decoration: none;
}

.banner nav {
    /*padding: 0 12px; */
    min-width: 840px;
    border-top: solid 1px #a7a8ac;
    padding-top: 20px;
}

.banner nav a:first-of-type {
    margin-left: 0;
}

.banner nav a:last-of-type {
    margin-right: 0;
}

.banner nav a {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  letter-spacing: 0.07em;

  margin: 0px 13px;
  display: inline-block;
  position: relative;
  padding: 0;
  padding-bottom: 5px;
  opacity: 0.75;
}

.banner nav a:hover {
    color: #a2ffa4;
}

.banner nav a.active {
    color: #75E599;
    border-bottom: solid 3px #75E599;
}

h1 {
   font-size: 1.5em;
   font-weight: bolder;
}

h2 {
   font-size: 1.3em;
   margin-top: 5px;
   margin-bottom: 10px;
   font-weight: bold;
}

h3 {
   font-size: 1.1em;
}

section.content {
    padding: 4px;
}

h1 a, h2 a, h3 a {
    text-decoration: none;
}

a.backlink {
    display:block;
    line-height: 24px;
    margin-bottom: 12px;
}

a.backlink:before {
    content: '\2190';
}

a.prev:before {
    content: '\00AB';
}

a.next:after {
    content: '\00BB';
}

a.prev {
    margin-right: 12px;
}

a.prev,
a.next {
    display: block;
    float: left;
    margin-bottom: 12px;
}

a.next{ float: right };

a.backlink:hover, a.prev:hover, a.next:hover {
    color: #222;
}

.codebox {
  margin-top: 8px;
  margin-bottom: 12px;
}

.code {
  position: relative;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  background-color: #F0F3F3;
}

.code figcaption {
  font-size: 10px;
  position: absolute;
  bottom: 3px;
  right: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.highlight pre {
  padding: 16px 12px 12px;
  margin-bottom: 8px;
}

pre {
    border: 0.5px solid #fff;
    white-space: pre;
    overflow: auto;
    padding: 0.5em 0;
    padding-left: 10px;
    margin-left: 30px;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 3px;
}

/* CAROUSEL */

#carousel-container {
    background: rgba(255, 255, 255, 0.11);
    box-sizing: border-box;
    border-radius: 3px;
    padding: 20px;
}

#carousel-container * {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    padding: 0;
    margin: 0;
}

#carousel-container .noAnimation * {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

#infinite-carousel, .prev, .next {
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    vertical-align: middle;
}
.prev, .next {
    color: #75E599;
    cursor: pointer;
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    font-size: 40px;
    font-weight: bolder;
}
.prev:hover, .next:hover {
    color: #a2ffa4;
}

#infinite-carousel {
    width: 730px;
    height: 450px;
    margin: 0 auto;
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    overflow: hidden;
    position: relative;
    max-width: 95%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}
/*#infinite-carousel:hover { box-shadow: none !important; }*/
#infinite-carousel ul.panes {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    list-style: none;
}

#infinite-carousel li.pane {
    float: left;
    width: 730px;
    height: 100%;
    position: relative;
    text-align: center;
}

#infinite-carousel p {
    margin: 0;
    min-width: 8em;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: middle;
    text-align: left;
}

#infinite-carousel img {
    display: inline-block;
    max-height: 80%;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

#infinite-carousel h2 {
    margin-left: 35%;
    text-align: left;
    padding-left: 32px;
    padding-top: 5px;
}

/* Modules */
#modules-list {
    padding: 0;
    text-align: center;
}

#modules-list .module {
    text-align: left;
    width: 85%;
    display: inline-block;
    overflow: hidden;
    min-height: 90px;
    padding: 0;
    margin-bottom: 15px;

    -moz-box-shadow: 0px 4px 12px #333; /* FF3.5+ */
    -webkit-box-shadow: 0px 4px 12px #333; /* Saf3.0+, Chrome */
    box-shadow: 0px 4px 12px #333; /* Opera 10.5, IE 9.0 */
    filter:  progid:DXImageTransform.Microsoft.dropshadow(OffX=12px, OffY=12px, Color='#333'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=12px, OffY=12px, Color='#333')"; /* IE8 */
}

#modules-list .module-icon {
    min-width: 64px;
    height: 100%;
    display: inline-block;
    float: left;
    vertical-align: center;
}

#modules-list .module-infos {
    padding-left: 20px;
    float: left;
    display: inline-block;
    font-size: 80%;
    width: 38%;
}

#modules-list .module-infos .name {
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 3px;
}

#modules-list .module-details {
    float: right;
    font-size: 100%;
    width: 42%;
    line-height: 0.9em;
}

#modules-list .module-applications img {
    vertical-align: top;
    width: 24px;
    height: 24px;
}

#modules-list .module-caps {
    display: inline;
    position: absolute;
    bottom: 1px;
    right: 15px;
}

#modules-list .module-cap {
    display: inline;
    font-size: 80%;
    color: #444;
}

#modules-list .module-cap:before {
    content: ": ";
}

#modules-list .module-cap:after {
    content: " :";
}

#modules-list .summary {
    min-height: 95px;
}

#modules-list .details table.params {
    margin: 5px 10px;
}

#modules-list .details table.params caption {
    font-weight: bold;
    text-align: left;
    min-width: 300px;
}

#modules-list .details table.params td,
#modules-list .details table.params th
{
    border: 1px solid #ddd;
    padding: 5px;
    text-align: left;
}

#modules-list .has-details {
    cursor: help;
}

#modules-list .summary,
#modules-list .details {
    position: relative; /* so that it will be the parent of module-caps */
    clear: both;
    padding: 15px 1px;
}

#modules-list .details {
    padding-top: 1px;
}

#modules-list .details p {
    margin: 0 10px;
}

.columns {
    text-align: center;
    padding: 0;
    margin: 5px auto;
}

.column {
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    width: 370px;
}

.box {
    text-align: left;
    vertical-align: top;
    min-width: 150px;
    min-height: 146px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.box,
.contentbox {
    margin: 25px 5px;
}

.contentbox {
    padding: 7px;
    min-height: 70px;
}

.contentbox p {
    padding: 1px;
}

.last .box {
    margin-top: 15px;
    min-height: 210px;
}

.first .box {
    margin-top: 1px;
}

div#authors {
}

div#authors .image {
    text-align: center;
}

div#authors ul {
    vertical-align: top;
    text-align: left;
}

div#authors li {
    list-style-type: none;
    background-position: left center;
    padding-top: 5px;
    height: 60px;
}

div#authors span {
    padding-bottom: 10px;
}

.box h2 {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 3px;
}

.box ul {
    margin-left: -20px;
    margin-top: 3px;
    margin-bottom: 2px;
}

.box ul li {
    margin-top: 5px;
}

.box .module-icon {
    padding: 1px;
    text-align: center;
    font-size: 0.6em;
    width: 90px;
}

em.ok {
    color: #5f9b6b;
}

em.warn {
    color: #e85752;
}

#getit {
    background: linear-gradient(180deg, #75E599 0%, #62CC84 44.27%, #75E599 100%);
    border-radius: 3px;
    font-size: 24px;
    line-height: 0;
    letter-spacing: 0.07em;
    font-weight: 600;
    /* lolhack */
    position: relative;
    top: -70px;
    left: 2px;
    height: 85px;
    width: 360px !important;
    margin: -30px 10px 0px !important;
    padding: 0 20px !important;
}

#getit span.version {
    background: url('../images/update.png') no-repeat;
    background-position: left center;
    padding-left: 50px;
    line-height: 72px;
    background-color: transparent;
}

#getit span.date {
    font-size: 7pt;
    display: block;
    text-align: right;
}

ul.modules-list-icons {
    width: 80%;
}

.modules-list-icons li {
    display: inline;
    margin-top: 2px;
    margin-left: 2px;
    width: 120px;
    float: left;
}

.modules-list-icons p {
    text-align: center;
    font-size: small;
    font-weight: bold;
    margin: 0;
}

.modules-list-icons a {
    text-decoration: none;
}

.icon-wall ul.modules-list-icons {
    width: 100%;
    margin-left: -40px;
}

.icon-wall .modules-list-icons li {
    margin-left: 0;
    padding: 4px 0;
    width: 81px;
}

.icon-wall .modules-list-icons img {
    width: 32px;
    height: 32px;
}

.icon-wall .modules-list-icons p {
    font-size: 0.7em;
    font-weight: normal;
}


.columns .box h2 {
    line-height: 34px;
    font-size: 1.3em;
    margin-bottom: 15px;
}

.box h2 img {
    vertical-align: middle;
    margin-right: 5px;
}

.columns div#what h2 {
}

.columns div#why h2 {
}

.columns div#popular {
    background: #FFFFFF;
    /*border: 0.5px solid #FFFFFF;*/
    border-radius: 3px;
    box-sizing: border-box;
    color: black;
}

.columns div#popular h2 {
}

.columns div#competition h2 {
}

.columns div#tech h2 {
}

.columns div#contact {
    border: 0.5px solid #aaaaaa;
    border-radius: 3px;
}

div#organizations h2 {
    text-align: center;
}

div#organizations div {
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 3px;
    padding: 30px 0;
    margin-top: 20px;
    text-align: center;
}

div#organizations div img {
    margin: 5px 20px;
    max-height: 32px;
}


div#authors h2 {
    text-align: center;
}

div#authors h2 span {
    font-weight: normal;
}

div.authors_list {
    margin: 30px auto;
}

div.author {
    position: relative;
    float: left;
    width: 260px;
    height: 70px;
}

div.author div {
    float: left;
}

div.author div.author_icon {
    margin: 5px 15px;
}

div.author div.author_icon img {
    border-radius: 15px;
}

div.author a.author_name {
    font-weight: bold;
}

div.author span.author_commits {
    display: block;
    font-size: 10pt;
}

.columns .box h3 {
    font-size: 1.1em;
    padding-top: 1px;
    margin: 2px 0;
}

.columns .box p {
    margin: 0;
    padding-bottom: 4px;
}

.second {
    margin-bottom: -22px;
}

abbr {
    border-bottom: 1px dotted #999;
}

ul.application-list li {
    list-style-type: none;
    margin-left: -30px;
}

ul.application-list h3, ul.application-list p {
    display: inline;
    font-size: 1em;
    position: relative;
    top: -8px;
}

ul.application-list {
    margin: 0;
}

p {
    margin: 0.5em 0;
}

.application-description img {
    float: left;
    padding: 5px;
}

hr {
    height: 1px;
    background: #a7a7ab;
    border: 0;
}

#modules-list .actions {
    display: inline;
    position: absolute;
    bottom: 4px;
    right: 0px;
    font-size: 80%;
}


div.global-actions {
    text-align: center;
    padding-bottom: 20px;
}

#hideshow,
.hideshow
{
    display: none;
}

article.news {
    width: 85%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    padding: 20px 30px;

    background: rgba(255, 255, 255, 0.11);
    border: 0.5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: justify;
}

article.news header h1 {
    margin: 0;
}

article.news header h1 a {
    color: white;
}

article.news header em {
    font-weight: bold;
}

article.news small.meta {
    font-style: italic;
}

p.news-info {
    width: 70%;
    text-align: center;
    margin: 5px auto;
    font-size: small;
}

:link[hreflang]:not([hreflang|=en])::after {
    content: " [" attr(hreflang) "]";
    font-size: xx-small;
    font-weight: 100;
    vertical-align: super;
}
