---
extends: base.j2
default_block: main
title: News
description: Latest developments
feeds:
 - {url: "https://woob.tech/news.atom",
    title: "Latest news"
   }
---

<p class="news-info"><em>This page presents the latest important news related to woob.<br />If you want more, you can check out <a href="http://planet.woob.tech/" hreflang="fr">Planet woob</a>.</em></p>

{% for entry in news.entries -%}
<article class="news">
    <header>
        <h1><a href="{{ entry.link }}">{{ entry.title }}</a></h1>
        <small class="meta">
            Posted by <em class="author vcard">{{ entry.author | e }}</em>,
            <time class="timeago" datetime="{{ entry.updated.strftime('%Y-%m-%dT%H:%M')|e }}">{{ entry.updated.strftime('%Y-%m-%d %H:%M') | e}}</time>
        </small>
    </header>
    <div class="content">{{ entry.content }}</div>
</article>
{%- endfor %}
