{% macro render_application(res) %}
    <li>
        <a href="{{ content_url(res.full_url) }}">
            <img width="32" height="32" src="{{ icon_url(res) }}" alt="" /></a>
        <h3><a href="{{ content_url(res.full_url) }}">{{ res.meta.title }}</a></h3>
        <p>{{ clean_desc(res) }}</p>
    </li>
{% endmacro %}


{% macro icon_url(res) -%}
    {{ media_url('images/applications/' + res.name.replace('.html', '') + '.png') }}
{%- endmacro %}

{% macro clean_desc(res) -%}
    {% if res.meta.short_description -%}
        {{ res.meta.short_description }}
    {%- else -%}
        {{ res.meta.description }}
    {%- endif %}
{%- endmacro %}
