{% extends "base.j2" %}

{% from "applications.j2" import icon_url with context %}

{% set binary = resource.meta.title.lower() %}

{% block title %}woob - Application - {{ resource.meta.title }}{% endblock %}

{% block main -%}
<h1 class="title">
  {{ resource.meta.title }}
</h1>

<div class="contentbox application-description">
    <img src="{{ icon_url(resource) }}" alt="" />
    <p>{{ resource.meta.description }}</p>
</div>

<div class="clear"></div>

{% if resource.meta.capability -%}
    {% from "modules.j2" import render_modules_icons with context %}
    <p>
      It supports the following websites:
    </p>
      {{ render_modules_icons(resource.meta.capability) }}
{%- endif %}

{% if resource.meta.type != 'config' -%}
<h2>Get {{ resource.meta.title }}</h2>

<p>
This application is part of <a href="{{ content_url("index.html") }}">woob</a>. To install it,
please read <a href="{{ content_url("install.html") }}">this page</a>.
</p>
{%- endif %}

{% if resource.meta.dependencies -%}
<h2>Dependencies</h2>
<p>In addition to woob dependencies, {{ resource.meta.title }} requires:</p>
<ul>
{% for dep in resource.meta.dependencies -%}
  <li>{{ dep }}</li>
{%- endfor %}
</ul>
{%- endif %}

{% if resource.meta.screenshots -%}
<h2>Screenshots</h2>
{%   for screenshot in resource.meta.screenshots -%}
        <img src="{{ media_url(screenshot) }}" />
{%-  endfor %}
{%- endif %}

{% if resource.meta.type == 'gui' -%}
<h2>Features</h2>
{% else %}
<h2>Usage</h2>
{%- endif %}

{% if resource.meta.type == 'repl' -%}
    <p>
    You can run {{ resource.meta.title }} without any parameter to get an interactive prompt, or specify a command to run it directly and exit just after.
    </p>

    <p>
    In this page we will use the interactive mode:
    </p>

    <pre>$ {{ binary }}
Welcome to {{ binary }}

Copyright(C) 2010-2021 The woob Team
This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, version 3 of the License.

Type "help" to display available commands.

Loaded backends:

{% block example -%}{%- endblock %}
{{ binary }}&gt;
</pre>
    <p>
    Use the <code>help</code> command to see what are the available commands.
    </p>

    <p>
    For more information about common options of console applications, read <a href="{{ content_url('doc/console.html') }}">this documentation</a>.
    </p>

    <p>
    {{ first_launch(binary) }}
    </p>
{%- endif %}

{% filter markdown|typogrify -%}
{% mark post -%}
{% block help -%}{%- endblock %}
{%- endmark %}
{%- endfilter %}

{%- endblock %}

{% macro first_launch(binary) -%}
The first time you launch {{ binary }}, it will ask you what backends you want to add and configure.
You can also use the <code>backends</code> command to manage them, and to enable only specific backends.
{%- endmacro %}
