{% macro render_nav(menu, cls=None) -%}
{% if menu -%}
<nav {{'class='~cls if cls }}>
        {% for item in menu -%}
        {% set active = False -%}
        {% if item.type == 'page' -%}
            {% set active = (resource.url ==
                site.content.resource_from_relative_path(item.url).url) -%}
        {% elif item.type == 'node' -%}
            {% set active = (node ==
                site.content.node_from_relative_path(item.url)) -%}
        {%- endif %}
        {% set classes = ['medium'] -%}
        {% do classes.append('active') if active -%}
        {% do classes.append(item.css_class) if item.css_class -%}
            <a title="{{ item.description }}"
                class="{{ classes|join(' ') }}"
                href="{{ item.url if item.type == 'external' else content_url(item.url) }}">
                {{ item.name }}
            </a>
        {%- endfor %}
</nav>
{%- endif %}
{%- endmacro %}
