{% macro render_modules(capability=None) -%}
{% from "applications.j2" import icon_url with context %}
<ul id="modules-list">
{% for module_name in modules.module_names -%}
{% set module = modules.modules[module_name] %}
{% set module_info = modules_info.info[module_name] %}
{% set has_details = module_info.params or module_info.details %}
{% if capability and not capability in module.capabilities -%}
{%      continue %}
{%- endif %}
{% if has_details -%}
    {% set addclasses = ' has-details' %}
{%- else -%}
    {% set addclasses = '' %}
{%- endif %}
<li class="box module{{ addclasses }}" id="mod_{{ module.name }}">
    <div class="summary">
        <div class="module-icon">
            {% if module.icon %}
                <img src="{{ module.icon }}" alt="{{ module_title(module) | e }}" width="64" height="64" />
            {% else %}
                <img src="{{ media_url('images/module.png') }}" alt="" />
            {% endif %}
            <p>{{ module_title(module) }}</p>
        </div>
        <div class="module-infos">
            <p class="name">{{ module.name | e }}</p>
            <p class="description">{{ module.description | e}}</p>
            <p class="website"><strong>Website:</strong> {{ module_website(module) }}</p>
        </div>
        <div class="module-details">
            <p><strong>Installations:</strong> {{ module.installed }}</p>
            <p><strong>Last update:</strong>
                <time class="timeago" datetime="{{ module.updated.strftime('%Y-%m-%dT%H:%M')|e }}">{{ module.updated.strftime('%Y-%m-%d %H:%M') | e}}</time></p>
            <p><strong>Maintainer:</strong>
                {{ module.maintainer | e}}</p>
            <p class="module-applications"><strong>Applications:</strong>
            {% for res in site.content.walk_resources_sorted_by_name() -%}
            {%-     with has_cap = [] -%}
            {%-         for cap in res.meta.capability.split() -%}
            {%-             if cap in module.capabilities -%}
            {%-                 if has_cap.append("HACK: variables are contextual to blocks") -%}
            {%-                 endif -%}
            {%-             endif -%}
            {%-         endfor -%}
            {%-         if not has_cap -%}
            {%-             continue -%}
            {%-         endif -%}
            {%-     endwith -%}
               <a href="{{ res.url }}"><img src="{{ icon_url(res) }}" alt="{{ res.meta.title }}" title="{{ res.meta.title }}" width="64" height="64" /></a>
            {%- endfor %}
            </p>
        </div>
        {% if has_details %}
            <div class="actions">
                <a href="#" class="small hideshow">Show details</a>
            </div>
        {% endif %}
    </div>
    {% if has_details %}
    <div class="details">
        {{ module_params(module) }}
        {% if module_info.details %}
            <p>{{ module_info.details }}</p>
        {% endif %}
    </div>
    {% endif %}
</li>
{%- endfor %}
</ul>
{%- endmacro %}

{% macro render_module_icon(module_name) -%}
{%- endmacro %}

{% macro render_popular_modules() -%}
{%   for module_name in modules.popular_modules -%}
{% set module = modules.modules[module_name] -%}
<a class="module-icon" href="{{ content_url('modules.html') }}#mod_{{ module.name }}"><img src="{{ module.icon }}" height="32" width="32" alt="{{ module_title(module) | e }}" title="{{ module_title(module) | e }}: {{ module.description | e }}" /></a>
{%-  endfor %}
{%- endmacro %}

{% macro render_modules_icons(capability=None) -%}
<div class="clear">
<ul class="modules-list-icons">
{% for module_name in modules.module_names -%}
{% set module = modules.modules[module_name] %}
{%- if capability -%}
{%-     with has_cap = [] -%}
{%-         for cap in capability.split() -%}
{%-             if cap in module.capabilities -%}
{%-                 if has_cap.append("HACK: variables are contextual to blocks") -%}
{%-                 endif -%}
{%-             endif -%}
{%-         endfor -%}
{%-         if not has_cap -%}
{%-             continue -%}
{%-         endif -%}
{%-     endwith -%}
{%- endif -%}
<li>
  <p><a title="{{ module.description | e }}" href="{{ content_url('modules.html') }}#mod_{{ module_name }}">
  {% if module.icon %}
     <img src="{{ module.icon }}" alt="{{ module_title(module) | e }}" width="64" height="64" />
  {% else %}
     <img src="{{ media_url('images/module.png') }}" alt="{{ module_title(module) | e }}" />
  {% endif %}
  </a></p>
  <p><a title="{{ module.description | e }}" href="{{ content_url('modules.html') }}#mod_{{ module_name }}">{{ module_title(module) }}</a></p>
</li>
{%- endfor %}
</ul>
</div>
{%- endmacro %}

{% macro module_title(module) -%}
{%- if modules_info.info[module.name].title -%}
    {{ modules_info.info[module.name].title }}
{%- else -%}
    {{ module.name.capitalize() }}
{%- endif -%}
{%- endmacro %}

{% macro module_website(module) -%}
{% set url = modules_info.info[module.name].url -%}
{%- if url == "many" -%}
    More than one, you have to provide the URL.
{%- elif url == "one" -%}
    You have to provide the URL.
{%- elif url -%}
    <a href="{{ url }}">{{ url.strip('/').replace('http://www.', '').replace('https://www.', '').replace('http://', '').replace('https://', '') }}</a>
{%- else -%}
    Unknown.
{%- endif -%}
{%- endmacro %}

{% macro module_params(module) %}
{% set params = modules_info.info[module.name].params %}
{% if params %}
    <table class="params">
    <caption>Configuration parameters</caption>
    <tbody>
    {% for key, help in params %}
        <tr>
            <th>{{ key | e}}</th>
            <td>{{ help | e}}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endif %}
{% endmacro %}
