---
extends: base.j2
default_block: main
title: Documentation
description: Documentation of woob
listable: false
---
<h1>Documentation</h1>

<ul>
{% for res in resource.node.walk_resources_sorted_by_name() %}
    <li>
        <a href="{{ content_url(res.full_url) }}">{{ res.meta.title }}</a>
    </li>
{% endfor %}
</ul>


